.projects{
    background-color: #0e0e0e;
    min-height: calc(100vh - 250px);
    color: rgb(255, 255, 255);
    
   
}
.project-title{
 text-align: center;
}
.project-row{
    margin-top: -14px;
    margin-right: -118px;
}

.project-col{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #17191a;
    margin-left: 34px;
}
.project-container{
    margin-top: 20px;
    margin-left: 5px;
    
}
.project-links{
    display: flex;
    justify-content: space-between;
   
    margin:31px;
    margin-left: 0px;
    margin-right: 0px;
}
.button1{
    padding-right: 1.25rem;
}
.links{
    background-color: #1331b6;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 25px;
}
.git-repos{
    margin-bottom: 0px;
}

.project-image{
    height: 200px;
    width: 98%;
    object-fit: cover;
}
.img-hover-zoom {
 /* Modify this according to your need */
  overflow: hidden; /* Removing this will break the effects */
}
.img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
    margin-bottom: 17px;
    width: 96%;
  }
  .img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
  }
  .tech{
      border: 1px solid #ffffff;
      margin: 4px;
      
      background-color: rgb(0, 0, 0);
     }