.projects{
    background-color: #0e0e0e;
    min-height: calc(100vh - 250px);
    color: rgb(255, 255, 255);
    
   
}
.project-row{
    margin-top: -14px;
    margin-right: -118px;
}

.project-col{
    padding-left: 15px;
    padding-right: 15px;
    background-color: #17191a;
    margin-left: 34px;
}
.project-container{
    margin-top: 20px;
    margin-left: 5px;
    
}
.project-links{
    display: flex;
    justify-content: space-between;
   
    margin:31px;
    margin-left: 0px;
    margin-right: 0px;
}
.button1{
    padding-right: 1.25rem;
}
.links{
    background-color: #1331b6;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 25px;
}
.git-repos{
    margin-bottom: 0px;
}