.skills{
    background-color: #0e0e0e;
    min-height:calc(100vh - 250px);
    color: white;
   
}
.skills-title{
    margin-top: -160px;
}
.skills-title1{
    margin-top: 160px;
}
.skills-container1{

    height: 50%;
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
   margin-right: 30px;
    margin-left: auto;

   
}
.skills-container2{
  
    display: flex;
    justify-content: column;
  
    align-items: center;
  
 
}

.skills-logo{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #17191a;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 2rem;

    
    
}
.skills-logo .skills-title{
    visibility: hidden;
  width: 80px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.skills-title{
    font-size: 15px;
}
.skills-title1{
    font-size: 15px;
}
.skills-logo:hover .skills-title {
    visibility: visible;
    background-color: #17191a;
    color: white;
    
}
.skills-logo:hover .skills-title1 {
    visibility: visible;
    background-color: #17191a;
    color: white;
    
}
.skills-logo .skills-title1{
    visibility: hidden;
    width: 80px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.skills-title1{
    font-size: 15px;
}
.skills-title{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.skills-title1{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.skills-col{
    margin-left: 240px;
}
