.skills{
    background-color: #0e0e0e;
    min-height:calc(100vh - 250px);
    color: white;
   
}
.skills-title{
    margin-top: 200px;
}
.skills-container1{

    height: 50%;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
   margin-right: 30px;
    margin-left: auto;

   
}
.skills-container2{
  
    display: flex;
    justify-content: column;
  
    align-items: center;
  
 
}

.skills-logo{
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #17191a;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
    
    
}
.skills-col{
    margin-left: 240px;
}
.title-skills{
   
}