.contact{
    background-color: #17191a;
    min-height:calc(100vh - 250px);
    color: white;
}
#contact-form{
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
   
}
.color-field{
    background-color: #ffffff;
}
.button-contact{
    background-color: #1aa765;
    border: none;
    color: whitesmoke;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}