.about-me{
    background-color: #17191a;
    min-height: calc(100vh - 180px);
    color: rgb(255, 255, 255);
   
}
.about-me-info{
    margin-top:105px;
}

.button-about-me{
    background-color: #1331b6;
    border: none;
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
}